# Reboot - Python Basics

_This is a set of small independent assignments to recap the concepts of the day._

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [4]:
country = 'Japan'
country

'Japan'

Create an `animal` variable and assign your favorite animal to it. Print it

In [6]:
animal = 'dog'
animal

'dog'

Create an `animal_count` variable with any positive integer in it. Print it

In [7]:
animal_count = 10
animal_count

10

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [9]:
f'I just ordered {animal_count} {animal}s from {country}'

'I just ordered 10 dogs from Japan'

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [10]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Look at the following code. Replace the `?` with the correct data type each time (`str`, `float`, `list`). 

The cell should display `True` when you put in the right datatypes.

In [11]:
type(pi) == float \
and type(food) == str \
and type(colors) == list

True

Let's try to work with other data types. This time there's no hint.

In [12]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the excercise from before with the new variables. Once again, the cell should display `True` when you're done.

In [13]:
type(shapes) == tuple \
and type(user_profile) == dict \
and type(age_valid) == bool

True

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [23]:
# define function with 1 param (credit card number)
def credit_card_industry(cc_number):
    # check first digit of the CC number
    first_number = cc_number[0]
    
    codes = {
        '1': 'Airline',
        '2': 'Some Mastercard accounts since 2017',
        '3': 'American Express and Diners Club',
        '4': 'Visa',
        '5': 'Mastercard',
        '6': 'Discover ',
        '7': 'Petroleum',
        '8': 'Telecommunications',
        '9': 'Government'
    }
    
    return codes[first_number]
    
    # depeneding on the number return the correct industries
#     if first_number == 4:
#         return 'Visa'
#     elif first_number == 1:
#         return 'Airline'
#     elif first_number == 5:
#         return 'Mastercard'
#     return 'Other'

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [24]:
credit_card_industry("3762 8789 1971 1060")

'American Express and Diners Club'

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [38]:
genres = ["superman", "starwars", "avatar"]

Add another genre to the list. Print the whole list.

In [39]:
genres.append("horror")
genres

['superman', 'starwars', 'avatar', 'horror']

Change the name of the second genre on the list. Print the whole list

In [41]:
genres[1] = "Comedy"
print(genres)

['superman', 'Comedy', 'avatar', 'horror']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [54]:
genres = [ genre.lower() for genre in genres]
genres = sorted(genres)
print(genres)
for index, genre in enumerate(genres):
#     print(str(index) + " - " + genre)
    print(f"{index + 1} - {genre.capitalize()}")

['avatar', 'comedy', 'horror', 'superman']
1 - Avatar
2 - Comedy
3 - Horror
4 - Superman

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [56]:
movie = {
    'year': 2005,
    'title': 'LalaLand'
}
movie

{'year': '2005', 'title': 'LalaLand'}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [57]:
movie['director'] = 'Tommy'
movie

{'year': '2005', 'title': 'LalaLand', 'director': 'Tommy'}

Create a `movies` variable and initialize it with an empty list.

In [67]:
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [68]:
movies.append(movie)
movies.append({'year': 1984, 'title': 'Terminator', 'director': 'James Cameron'})
movies.append({'year': 1972, 'title': 'Godfather', 'director': 'Francis Ford Coppolla'})
movies

[{'year': '2005', 'title': 'LalaLand', 'director': 'Tommy'},
 {'year': 1984, 'title': 'Terminator', 'director': 'James Cameron'},
 {'year': 1972, 'title': 'Godfather', 'director': 'Francis Ford Coppolla'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [72]:
for movie in movies:
    print(f"{movie['title']} by {movie['director']} was released in {movie['year']}")

# [ print(f"{movie['title']} by {movie['director']} was released in {movie['year']}") for movie in movies]

LalaLand by Tommy was released in 2005
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

In [73]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [74]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [76]:
movie['title'].get('es','ket does not exist')

'ket does not exist'

What does `movie['actors']['support'][2]` return?

In [77]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

Try to calculate the total box office of the movie from `movie`

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [24]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}